@charset "UTF-8";

div {
	box-sizing: border-box;
	border: 1px solid black;
}

#info-wrapper {
	width: 100%;
	height: 4000px;
	font-family: font2;
}

#info-contents {
	width: 100%;
	height: 100%;
}

#info-contents-photo {
	width: 100%;
	height: 18%;
	overflow: hidden;
	text-align: center;
}

#info-contents-photo img {
	width: 100%;
	height: 100%;
}

#picsBT {
	position: absolute;
	background-color: white;
	width: 90px;
	top:95%;
	left:3%;
	/* transform: translate(40%, -220%); */
	box-shadow: 1px 1px 1px #d6d6d6;
}

#shareBT {
	position: absolute;
	background-color: white;
	width: 100px;
	padding-left: 5px;
	top:110px;
	right:170px;
	/* transform: translate(1250%, -2100%); */
	box-shadow: 1px 1px 1px #d6d6d6;
}

#shareBT img {
	width: 20px;
}

#likeBT {
	position: absolute;
	background-color: white;
	width: 100px;
	padding-left: 5px;
	top:110px;
	right:60px;
	/* transform: translate(1370%, -2100%); */
	box-shadow: 1px 1px 1px #d6d6d6;
}

#likeBT img {
	width: 20px;
}

#info-contents-main {
	margin: 0 auto;
	width: 65%;
	height: 82%;
}

#info-main-left {
	float: left;
	width: 60%;
	height: 100%;
	padding-right: 20px;
}

#info-main-right {
	float: left;
	width: 40%;
	height: 100%;
}

#info-main01 {
	width: 100%;
	border-bottom:  0.5px solid #d6d6d6;
}

#info-title{
	width:100%;
}

#info-title-left{
	float:left;
	width:80%;
}

#info-title-left span{
	color: #565656;
}

#info-title-left img{
	width:20px;
	margin-right: 5px;
}

#info-title-right{
	float:left;
	width:20%;
	padding-top: 30px;
	padding-left: 15px;
}

#info-title-right img{
	width:10vh;
	border-radius:150px;
}

#info-details{
	width:100%;
}

.green{
	color:#008489;
	font-weight: 600;
	font-size: 1.1em;
}

#info-main02 {
	width: 100%;
	height: 8%;
	border-bottom:  0.5px solid #d6d6d6;
}

#info-main02 span{
	font-weight: 800;
	color:black;
}

#info-main02-left{
	float:left;
	width:50%;
	height:100%
}

.amenities{
	width:25px;
}

#info-main02-right{
	float:left;
	width:50%;
	height:100%
}

#info-main03 {
	width: 100%;
	height: 8%;
}

#info-main03-top{
	width:100%;
	height:20%;
}

#info-main03-top span{
	font-weight: 800;
	color:black;
}

#info-main03-bottom{
	width:100%;
	height:80%;
}

.bed-div{
	width:33%;
	height:100%;
	border-radius:5px;
}

#info-main04 {
	width: 100%;
	height: 5%;
}

#info-main05 {
	width: 100%;
	height: 9%;
}

#info-main06 {
	width: 100%;
	height: 30%;
}

#info-main07 {
	width: 100%;
	height: 10%;
}

#info-main08 {
	width: 100%;
	height: 10%;
}

#fixed{
	width:52vh;
	height:48vh;
	border: 1px solid #d6d6d6;
}

#fixed-sub01{
	width:90%;
	height:20%;
	margin: 0 auto;
	border-bottom:  1px solid #d6d6d6;
}

.star{
	margin-top: 5px;
	width:10px;
}

#fixed-sub02{
	padding-top:5px;
	width:90%;
	height:80%;
	margin: 0 auto;
}

#reservationBT{
	width:100%;
	height:6vh;
	background-color: #ff5a5f;
	color: white;
	font-size: 2.3vh;
}