@charset "UTF-8";

/* Tabs panel */
.tabbable-panel {
/*   border:1px solid pink; */
  padding: 10px;
  width:50vw;
  position:relative;
  top:-5vh;
  left:-5vw;
  heigth:auto;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;

}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
    font-weight:bold;
    font-size:1.1em;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: 1vh;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

/* dropdown */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);


h1 {
  color: #DE264C;
  text-transform: uppercase;
  text-align: center;
  margin-bottom:0;
}
h3 {
  margin-top:0;
  color: #DE264C;
  text-align: center;
}

#select-dropdown {
	color:rgba(50,50,50,1);
	width:250px;
	margin:auto;
	position:absolute;
	margin-top:-20px;
	margin-left:-125px;
    left:37.5vw;
    top:-2.0vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}
.select {
	background-color:#fff;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	line-height:40px;
	height:40px;
	border-bottom:1px solid rgba(230,230,230,1);
	-webkit-transition:top 0.2s, -webkit-transform 0.2s, color 0.2s, background-color 0.2s;
	width:230px;
	margin:auto;
	box-shadow:0px 0px 2px rgba(0,0,0,0.1);

	position:absolute;
	left:50%;
	margin-left:-115px;
}
.select:last-child {
	border-bottom:none;
}
.open .option:hover {
	background-color:#DE264C;
	color:#fff;
}
.default {
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
	-webkit-transform-origin:50% 0%;
	-webkit-transition:transform 0.3s;
	-webkit-transform: perspective( 600px ) rotateX( 0deg );
	z-index:1000;
}
.default:active {
	-webkit-transform: perspective( 600px ) rotateX( 45deg );
	-webkit-perspective:600px;
}