@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);



/* To Navigation Style */


.headerContainer > section {
	margin: 0 auto !important;
	/*  padding: 10em 3em;*/
	padding:10px !important;
	text-align: center !important;
}


@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none !important;
	}

}