
@charset "UTF-8";

	body{
		font-family: font;
	}

	div{
		box-sizing: border-box;
	}
	
	#header{
		width:100%;
		padding-top:1vh;
		height:90px;
	}
	
	#header div{
		float:left;
	}
	
	#header-logo{
		width:8%;
		height:100%;
	}
	
	#header-search{
		width:39%;
		height:100%;
	}
	
	#header-menu{
		width:48%;
		height:100%;
		text-align: center;
	}
	
	#header-pic{
		width:5%;
		height:100%;
	}
	
	#header-logo img{
		width:80px;
		margin-top: 23px;
		margin-left: 15px;
		transform: translate(10%, 0%);
	}
	
	#header-search input{
		margin-top: 10px;
		width:500px;
		height:50px;
		transform: translate(-1%, 0%);
		font-size: 1vw;
	}
	
	input.search-query {
    	padding-left:50px;
	}

	#header-search img{
		position: absolute;
		width:22px;
		top:30px;
		transform: translate(42%, 10%);
		z-index: 1000;
	}
	
	#header-pic img{
		margin-top: 15px;
		width:45px;
		border-radius: 150px;
		border: 2px solid #e2e2e2;
		transform: translate(20%, 0%);
	}
	
	
	
	#footer{
		width:100%;
		height:60vh;
		border-top: 1px solid #bababa;
	}
	
	#footer-contents{
		margin:0px auto;
		width:70%;
		height:70%;
	}
	
	.contents{
		float:left;
		width:25%;
		height:100%;
		padding-top: 40px;
		
	}
	
	.contents li{
		list-style: none;
		margin-bottom: 5px;
		color:#8c8c8c;
	}
	
	.contents ul{
		padding-left: 0px;
		margin-top: 10px;
	}
	
	.contents span{
		font-size: 1vw;
	}
	
	.contents a{
		font-size: 0.8vw;
		color:#8c8c8c;
		text-decoration: none;
	}
	
	.contents a:hover{
		text-decoration: underline;
	}
	
	.contents a:visited{
		color:#8c8c8c;
		text-decoration: none;
	}
	
	.contents img{
		width:30px;
	}
	
	#footer-logo{
		margin:0px auto;
		width:70%;
		height:30%;
		padding-top: 10px;
		border-top: 1px solid #bababa;
	}
	
	#footer-logo img{
		width:80px;
		padding-top: 10px;
	}
	
	#footer-logo span{
		margin: 0px;
		font-size: 1vw;
	}
	
	
	
	
	
	
	
	
	
#header-menu-div{
	margin:0px;
	width:13vh;
	height:5vh;
}	
	
#header-menu-div a{
	padding: 0px;
}	

.dropdown {
  /* width: 100%; */
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.dropdown.toggle > input {
  display: none;
}
.dropdown > a, .dropdown.toggle > label {
  /* border-radius: 2px;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3); */
  
}
.dropdown > a::after, .dropdown.toggle > label::after {
  content: "";
  float: right;
  margin: 15px 15px 0 0;
  width: 0;
  height: 0;
  /* 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid; */
}
.dropdown ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
  overflow: hidden;
}
.dropdown a, .dropdown.toggle > label {
  display: block;
  padding: 0 0 0 10px;
  text-decoration: none;
  line-height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
  background-color: #FFF;
}
.dropdown li {
  height: 0;
  overflow: hidden;
  transition: all 500ms;
}
.dropdown.hover li {
  transition-delay: 300ms;
}
.dropdown li:first-child a {
  border-radius: 2px 2px 0 0;
}
.dropdown li:last-child a {
  border-radius: 0 0 2px 2px;
}
.dropdown li:first-child a::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  margin: -10px 0 0 30px;
}
.dropdown a:hover, .dropdown.toggle > label:hover, .dropdown.toggle > input:checked ~ label {
  /* 호버할때 변경되는 색 */
 /* background-color: #EEE; */
  color: #666;
}
.dropdown > a:hover::after, .dropdown.toggle > label:hover::after, .dropdown.toggle > input:checked ~ label::after {
  border-top-color: #AAA;
}
.dropdown li:first-child a:hover::before {
  text-decoration: underline;
}
.dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {          
  height: 40px;
}
.dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
  padding-top: 35px;
}

	