<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kh.spring.dto.HomeDTO" alias="Home"/>
		<typeAlias type="kh.spring.dto.HomePicDTO" alias="HomePic"/>
		<typeAlias type="kh.spring.dto.MemberDTO" alias="Member"/>
		<typeAlias type="kh.spring.dto.HomeDescDTO" alias="HomeDesc"/>
		<typeAlias type="kh.spring.dto.ReservationDTO" alias="Reservation"/>
		<typeAlias type="kh.spring.dto.GuestReviewDTO" alias="GuestReview"/>
		<typeAlias type="kh.spring.dto.ReviewDTO" alias="Review"/>
		<typeAlias type="kh.spring.dto.Review_H_DTO" alias="Review_H"/>
		<typeAlias type="kh.spring.dto.HostReviewDTO" alias="HostReview"/>
		<typeAlias type="kh.spring.dto.MessageDTO" alias="Message"/>
		<typeAlias type="kh.spring.dto.MessageRoomDTO" alias="MessageRoom"/>
	</typeAliases>
</configuration>