@charset "UTF-8";


div {
	box-sizing: border-box;
	/* border: 1px solid black; */
}

body{
	position: relative;
}

/* -------------- scrollNav -------------- */


#scrollNav{
	display:none;
	width: 100%;
	height: 7vh;
	background-color: black;
	box-shadow: 1px 1px 1px #d6d6d6;
	z-index: 10000;
}
