<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Bed">

	<insert id="insertbed" parameterType="Bed">
		insert into bed values (bed_seq.nextval,#{home_seq},#{bed_single},#{bed_double},#{bed_queen})
	</insert>
	
</mapper>
