<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HomePic">
	<select id="getHomePicData" parameterType="int"
		resultType="HomePic">
		select * from home_pic where home_seq = #{seq}
	</select>
	
	<select id="getHomePic" parameterType="int"
		resultType="HomePic">
		select * from home_pic
	</select>
	
</mapper>
