<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reservation">
	
	<insert id="insertData" parameterType="Reservation">
		insert into board values(#{reservation_seq},#{member_email},#{reserv_checkin},#{reserv_checkout},#{population},#{amount},#{home_seq},#{home_name},#{guset_review})
	</insert>
	
	
</mapper>